doctype html
head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes")
	meta(name="author" content="CapacitorSet")
	title Box.js: a tool for studying JavaScript malware
	style.
		/* Source: https://bestmotherfucking.website (with changes) */
		body {
			margin: 0 auto;
			max-width: 60em;
			padding: 1rem .62em;
			font-size: 1.2em;
			line-height: 1.62;
			font-family: "Open Sans", sans-serif;
		}
		h1, h2, h3 {
			line-height: 1.2;
		}
		blockquote {
			background-color: #eee;
			border-left: 6px solid silver;
			padding: 0.1em 1em 0.1em 1em;
			margin: 0;
		}
		pre {
			padding: 0.5rem 1rem;
			background-color: #f8f8f8;
			border: 1px solid #eee;
			border-radius: 0.15rem;
			margin-bottom: 1rem;
			overflow: auto;
		}
		a, a:visited {
			color: #07a;
		}

		@media print {
			body {
				max-width: none
			}
		}
body
	div(style="text-align: center")
		h1 Box.js
		h4 A tool for studying JavaScript malware
	hr
	h3 Main features
	ul
		li.
			Emulation of #[a(href="https://github.com/CapacitorSet/box-js/tree/master/emulator"): b ActiveX components]: #[tt MSXML2.XMLHTTP], #[tt WScript.Shell], #[tt ADODB.Stream], #[tt Scripting.FileSystemObject] and many more
		li.
			Suitable for #[b integration and automation]: creates a JSON file with active URLs for easy scripting and supports batch analysis
		li.
			#[b Secure]: runs code in a #[a(href="https://nodejs.org/api/vm.html") V8 sandbox] which doesn't expose system APIs
	h3 Usage
	h4 Installing
	p Requires Node 6.x or greater.
	pre: b.
		$ npm install --global box-js
	h4 Analysing
	pre.
		<b>$ box-js sample.js --download --no-kill --timeout=60</b>
		Analyzing sample.js
		New ActiveXObject: Scripting.FileSystemObject
		New ActiveXObject: Scripting.FileSystemObject
		New ActiveXObject: WScript.Shell
		New ActiveXObject: MSXML2.XMLHTTP
		New ActiveXObject: ADODB.Stream
		Header set for http://foo.bar/admin.php?f=1.dat: User-Agent Mozilla/5.0 (Windows NT 6.1; Trident/7.0; rv:11.0) like Gecko
		Emulating a get request to http://foo.bar/admin.php?f=1.dat
		Downloaded 198353 bytes.
		Saved sample.js.results/fa9870f9-c3f9-4c06-bcf7-2472d9ebae4f (198353 bytes)
		sample.js.results/fa9870f9-c3f9-4c06-bcf7-2472d9ebae4f has been detected as PE32 executable (GUI) Intel 80386, for MS Windows.
		Active URL detected: http://foo.bar/admin.php?f=1.dat
		Executing sample.js.results/9539b473-c62d-4b99-a659-5aa28842aacc in the WScript shell

		<b>$ cat sample.js.results/9539b473-c62d-4b99-a659-5aa28842aacc</b>
		cmd.exe /c (Temporary folder)(Temporary file) 0

	a(href="https://github.com/CapacitorSet/box-js")
		img(style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png")

	script(type="text/javascript").
		// Self-hosted Piwik tracking
		
		var _paq = _paq || [];
		/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		_paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
		_paq.push(["setCookieDomain", "*.capacitorset.github.io"]);
		_paq.push(["setDomains", ["*.capacitorset.github.io","*.capacitorset.github.io"]]);
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
			var u="//piwik.vps.denv.it/";
			_paq.push(['setTrackerUrl', u+'piwik.php']);
			_paq.push(['setSiteId', '4']);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
		})();
	noscript: p: img(src="//piwik.vps.denv.it/piwik.php?idsite=4&rec=1" style="border:0;" alt="")